li{
    list-style: none;
}
.task-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(138,138,138,0.16);
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 20px;
    margin-left: calc(50% - 270px);
    padding: 0 20px;
    width: 480px;
}
.task-description{
    margin-top: 25px;
    text-align: left;
    width: 80%;
}
.task-description-completed{
    text-decoration: line-through;
}
.check-icon{
    background-image: url('../images/check.png');
    background-size: cover;
    display: inline-block;
    height: 30px;
    margin-top: 20px;
    width: 30px;
}
.delete-icon{
    background-image: url('../images/cancel.png');
    background-size: cover;
    display: inline-block;
    height: 30px;
    margin-top: 20px;
    width: 30px;
}